<header>

</header>
<body>
    <br>
    <div style="text-align: center;">
        <form [formGroup]="form">
            <input type="text" formControlName="palabra">
        </form>
        <br>
        <button [disabled]=form.invalid (click)="isPalindromo()">
            Verificar palabra
        </button>
        <br>
        <br>
        <label>
            {{mensaje}}
        </label>
    </div>
</body>