<header>
    <h1 class="uno">Resumen de CSS3</h1>
</header>
<body class="padding">
    <div>
    <h3 class="uno">CSS3 es la última evolución del lenguaje de las Hojas de Estilo en Cascada </h3>
    </div>
    <div class="uno"><a href="https://eloutput.com/noticias/cultura-geek/sonic-the-hedgehog-imagenes-reales-filtradas/">Repositorio de Gitlab</a></div>
    <p>&nbsp;</p>
    <p style="text-align: justify;">CSS3 nos permite definir los estilos de los diferentes elementos de HTML, la ventaja de css es que nos permite mantener el codigo HTML m&aacute;s limpio al existir la posibilidad de leer un documentos .css de forma externa. Esto tambien facilita las tareas de mantenimiento de la pagina en terminos de estilo. Tambien nos permite ayudar a definir las clases de los tags y evitar estar repitiendo el codigo de <span class="resaltar-rojo">style</span> dentro del .html</p>
    <div class="uno">
        <h2><span class="uno">Unidades de medida</span></h2>
    </div>
    <div class="tabla-centrar">
        <table>
            <tbody>
                <tr>
                    <th colspan="2">Longitudes relativas</th>
                </tr>
                <tr>
                    <td><code>px</code></td><td>Píxeles (relativo al dispositivo)</td>
                </tr>
                <tr>
                    <td><code>em</code></td><td>Relativo al tamaño de la fuente del elemento ( 2em significa 2 veces el tamaño de la fuente actual)</td>
                </tr>
                <tr>
                    <td><code>%</code></td><td>Porcentaje (relativo al elemento padre)</td>
                </tr>
                <tr>
                    <td><code>vh y vw</code></td>
                    <td>Medidas relativas de acuerdo al viewport
                        <br> 1vh = 1% de la altura del viewport
                        <br> 100vh = altura del viewport
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Longitudes absolutas</th>
                </tr>
                <tr></tr>
                <tr>
                    <td><code>in</code></td>
                    <td>Pulgadas (1pulgada = 2.54 cm)</td>
                </tr>
                <tr>
                    <td><code>cm</code></td>
                    <td>Centímetros</td>
                </tr>
                <tr>
                    <td><code>mm</code></td>
                    <td>Milímetros</td>
                </tr>
                <tr>
                    <td><code>pt</code></td>
                    <td>Puntos (1pt = 1/72 pulgadas)</td>
                </tr><tr class="impar">
                    <td><code>pc</code></td>
                    <td>Picas (1pica = 12 puntos)</td>
                </tr>
            </tbody>
        </table>    
    </div>
    <br>
    <br>
    <div class="uno">
        <h2><span class="uno">Pseudo-clases para selección de hijos o hermanos</span></h2>
    </div>
    
    <div class="tabla-centrar">
        <table class="wp-block-table"><thead><tr><th>Pseudo-clase</th><th>Descripción</th></tr></thead><tbody><tr><td>:first-child</td><td>Primer hijo</td></tr><tr><td>:last-child</td><td>Último hijo</td></tr><tr><td>:first-of-type</td><td>Primer hermano de su tipo</td></tr><tr><td>:last-of-type</td><td>Último hermano de su tipo</td></tr><tr><td>:only-child</td><td>Hijos únicos</td></tr><tr><td>:only-of-type</td><td>Únicos hermanos de su tipo</td></tr><tr><td>:empty</td><td>Elementos que no tienen hijos</td></tr><tr><td>:nth-child(n)</td><td>Enésimo elemento hijo</td></tr><tr><td>:nth-last-child(n)</td><td>Enésimo elemento hijo contando desde el útimo</td></tr><tr><td> :nth-of-type(n)</td><td>Enésimo hermano de su tipo</td></tr><tr><td> :nth-last-of-type(n)</td><td>Enésimo hermano de su tipo comenzando desde el último</td></tr></tbody></table>
    </div>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/pseudoclases-css-first-child-last-child-nth-child-t1.png" width="40%" /></p>
    <div class="uno">
        <h2><span class="uno">Texto</span></h2>
    </div>
    <div class="tabla-centrar">
        <table><thead><tr><th>Propiedad</th><th>Descripción</th><th>Valores</th></tr></thead><tbody><tr><td><code><b>text-indent</b></code></td><td>Desplazamiento de la primera línea del texto</td><td>longitud | porcentaje</td></tr><tr><td><code><b>text-align</b></code></td><td>Alineamiento del texto</td><td>left | right | center | justify</td></tr><tr><td><code><b>text-decoration</b></code></td><td>Efectos de subrayado, tachado, parpadeo</td><td>none | underline | overline | line-through | *</td></tr><tr><td><code><b>letter-spacing</b></code></td><td>Espacio entre caracteres</td><td>normal | longitud</td></tr><tr><td><code><b>word-spacing</b></code></td><td>Espacio entre palabras</td><td>normal | longitud</td></tr><tr><td><code><b>text-transform</b></code></td><td>Transformación a mayúsculas / minúsculas</td><td>capitalize | uppercase | lowercase | none</td></tr><tr><td><code><b>line-height</b></code></td><td>Tamaño del espacio entre líneas</td><td>longitud | porcentaje</td></tr></tbody></table>
    </div>
</body>